
.card {
  position: relative;
  width: 300px;
  height: 480px;
  background-color: #f5f5f5;  border-radius: 20px;
  transition:all 500ms
}
.card:hover .card-image {
  position: absolute;
  transform: scale(1.05) translateY(-30px) ;
}

.card-image{
  z-index: 3;
 transform: scale(0.9) translateY(1px);
 transition:all 500ms
}
.card-content{
  transition:all 500ms
}
.card:hover .card-content{
  transform: translateY(-10px);
}

.ribbon {
  position: absolute;
  width: 40px;
  height: 60px;
  top: 0;
  left:20px;
  background: var(--clr-secondary);
}
.ribbon-2{
  position: absolute;
  top:40px;
  left:0px;
  width: 0; 
  height: 20px; 
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-bottom: 20px solid var(--clr-primary);
  background: var(--clr-secondary);
}
.discount-text{
  position: absolute;
  color: #fff;
  top: 10px;
  left: 10px;
  font-size: 14px;
  font-weight: 500;
}
@media(max-width:1060px){
  .card{
    width: 240px;
    height: 420px;
  }
 
}
@media(max-width:880px){
  .card{
    width: 250px;
    height: 480px;
  }

}
@media(max-width:740px){
  .card{
    width: 220px;
    height: 420px;
  }
}
@media(max-width:600px){
  .card{
    width: 100%;
  }
}
@media(min-width:1650px){
  .card{
    width: 340px;
  }
}
@media(min-width:1060px) and (max-width:1160px){
  .card{
    width: 250px;
  }
}

